header{
    background-color: #031230;
    display: flex;
    flex-direction: row;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    margin: 0%;
    padding-left: 50px;
    padding-right: 20px;

}
.logo{
    width: 50px;;
    margin: 0%;
   margin-left: 50px;
   justify-content: center;
}
.container-hea {
    width: 100px;
    height: 40px;
    transform: translate(-50%, -50%);
    margin-left: 250px;
    margin-top: 70px;
    box-shadow: 3px 3px 5px rgb(68, 91, 112);
  }
  
  .center-hea {
    width: 100px;
    height: 40px;
    display: flex;
    flex-direction: column;
  }
  
  .btn-hea {
    font-family: pixel;
    width: 100px;
    height: 40px;
    cursor: pointer;
    background: transparent;
    border: 1px solid aqua;
    outline: none;
    transition: 1s ease-in-out;
    display: inline-block;
  }
  
  header svg {
    width: 100px;
    height: 40px;
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
  }
  .header-linha{
    background-color: aqua;
    width: 100%;
    height: 5px;
  }
  .btn-hea:hover {
    transition: 1s ease-in-out;
    background: rgb(68, 91, 112);
  }
  
  .btn-hea:hover svg {
    stroke-dashoffset: -480;
  }
  
  .btn-hea span {
    color: aqua;
    font-size: 18px;
    font-weight: 100;
  }
  .btn-hea span:hover{
      color:  rgb(68, 91, 112);
  }
  .logo:hover{
    filter: drop-shadow(1px 1px 70px aqua);
    transition: 1.5s;
  }
  /* PRIMEIRA PARTE */
  body{
    align-items: center;
    text-align: center;
    padding: 0px;
    margin: 0px;
  }
  .primeira{
    padding: 100px;
    padding-top: 50px;
    background-color: #031230;
  }
  h1{
    font-size: 40px;
    color: aqua;
  }
  p{
    padding: 300px;
    padding-top: 0px;
    padding-bottom: 20px;
    font-size: 20px;
    color: #fff;
  }
  .img-sobre{
    width: 700px;
    border-radius: 60px;
    box-shadow: 5px 5px 10px black;
  }
  /* SEGUNDA PARTE */
  .segunda-linha{
    background-color: rgb(29, 255, 9);
    width: 100%;
    height: 10px;
  }
  .segunda{
    background-color: #fff;
    box-shadow: 5px 5px 40px rgb(29, 255, 9);
    height: 1300px;
  }
  .segunda h2{
    font-size: 40px;
    color:rgb(29, 255, 9);
  }
  .segunda p{
    color: black;
  }
  .carrossel-container {
    position: relative;
    width: 600px;
    margin: 50px auto;
    overflow: hidden;
}

.carrossel {
    display: flex;
    transition: transform 0.5s ease;
}

.imagem {
    min-width: 100%;
    max-width: 100%;
}

.imagem img {
    width: 600px;
    display: block;
    border-radius: 8px;
}

.setas {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.seta {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    user-select: none;
}

.seta:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.button{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.segunda button{
    width: 200px;
    margin: 20px;
    background-color: #fff;
    color: rgb(29, 255, 9);
    border-color: rgb(29, 255, 9);
    border: 5px solid;
    border-radius: 20px;
    cursor: pointer;
}
.segunda button:hover{
    width: 210px;
    background-color: rgb(29, 255, 9);
    color: #fff;
    border-color: rgb(29, 255, 9);
    box-shadow: 5px 5px 40px rgb(29, 255, 9);
    transition: 2.2s;
}
/* FOOTER */
.footer-linha{
    width: 100%;
    height: 5px;
    background-color: aqua;
}
footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color:   #031230;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 5px 5px 40px aqua;
}
.logo-footer{
    width: 150px;
    margin: 50px;
    justify-content: center;
    align-items: center;
    transition: 2s;
}
.footer-center{
    align-items: center;
}
.redesocial-footer{
    align-items: center;
    width: 300px;
}
footer p{
    color: aqua;
    font-size: 20px;    
}
footer p span{
    color: rgb(68, 91, 112);
    font-size: 20px;
}
.texto-footer{
    margin-bottom: 70px;
}
@media screen and (max-width: 1220px){
  body{
      margin: 0%;
      padding: 0%;
  }
  h1{
      font-size: 30px;
  }
  header{
      height: 70px;
      width: 100%;
      padding: 0;
  }
  header ul li a{
      font-size: 0px;
  }
  .logo{
      width: 30px;
      margin-top: 20px;
      margin-left: 30px;
  }
  .btn{
      width: 80px !important;
      height: 30px !important;
      margin-bottom: 20px;
  }
  header span{
      font-size: 15px !important;
      margin-bottom: 20px;
  }
  .container-hea span{
      font-size: 10px !important;
      width: 80px !important;
      height: 30px !important;
      margin-bottom: 20px;
  }
  svg{
      width: 80px !important;
      height: 30px !important;
      margin-bottom: 20px;
  }
  
  .container-hea a{
      width: 80px !important;
      height: 30px !important;
      margin-bottom: 20px;
  }
  .center-hea{
      width: 80px !important;
      height: 30px !important;
      margin-bottom: 20px;
  }
  .container-hea{
      margin-left: 155px !important;
      width: 80px !important;
      height: 30px !important;
      align-items: center !important;
      margin-bottom: 20px;
  }
  .btn-hea{
      width: 80px !important;
      height: 30px !important;
      margin-bottom: 20px;
  }
  /* PRIMEIRA PARTE */
  .primeira{
    padding-top: 30px;
    align-items: center;
  }
  p{
    font-size: 12px;
    padding: 0px;
  }
  .primeira img{
    width: 190px;
    border-radius: 10px;
  }
  /* SEGUNDA PARTE */
  .segunda{
    height: 800px;
  }
  .segunda h2{
    font-size: 30px;
  }
  .carrossel-container {

    width: 300px;
    margin: 50px auto;
}
.imagem img {
    width: 300px;
    border-radius: 20px;
}
  /* FOOTER */

  .logo-footer{
      width: 100px;
      margin: 50px;
      transition: 2s;
  }
  .logo-footer:hover{
      width: 130px !important;
  }
  footer p{
      color: aqua;    
  }
  footer p span{
      color: rgb(68, 91, 112);
      font-size: 20px;
  }
  .texto-footer{
      margin-bottom: 70px;
  }
}